<header class="site-header">
  <div class="branding">
    <h1 class="site-title">
      <a href="{{ site.baseurl }}/">{{ site.theme_settings.title }}</a>
    </h1>
  </div>
  <nav class="nav">
    <button class="nav__button" name="Navigation Toggle"></button>
    <ul class="hidden nav__list">
      {% assign site_pages = site.pages %} {% for page in site_pages %} {% if page.title and page.hide != true %}
      <li>
        <a class="page-link" href="{{ page.url | relative_url }}"> {{ page.title }} </a>
      </li>
      {% endif %} {% endfor %}
    </ul>
  </nav>
</header>
