.site-header {
  @extend %padding-small;
  background: $foreground-color;
  border-bottom: 3px solid $foreground-color;
  display: flex;
  width: 100%;
  height: $header-height;
  justify-content: space-between;
  align-items: center;
  position: sticky;
  top: 0;
  left: 0;
  z-index: 9;
  transition: background 0.7s;

  a {
    color: $header-link-color;
    transition: color 0.7s;
  }

  .avatar {
    height: 2em;
    width: 2em;
    float: left;
    margin-top: -3px;
    border-radius: 0.2em;
    margin-right: 1em;
  }

  .site-title {
    float: left;
    font-size: 1em;
    line-height: 1.5;
    font-weight: 400;
  }
}

.site-header.is-scrolling {
  background-color: rgba(0, 0, 0, 0);
  a {
    color: $background-color;
  }
}

.nav {
  position: relative;

  &__button {
    width: 24px;
    height: 24px;
  }
  &__list {
    position: sticky;
    top: $header-height;
    right: 0;
    width: 100vw;
    height: calc(100vh - #{$header-height});
    background-color: $foreground-color;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
    gap: 16px;
    margin: 0;

    .page-link {
      display: block;
      font-size: 3rem;
    }
  }
  li {
    display: inline;
    vertical-align: middle;
  }
}

@media screen and (min-width: $desktop) {
  .nav {
    &__button {
      display: none;
    }
  }

  .nav__list {
    position: static;
    flex-direction: row;
    justify-content: space-between;
    height: 100%;
    width: 100%;
    background-color: rgba(0, 0, 0, 0);

    .page-link {
      font-size: 1em;
    }
  }
}
