@use "sass:list";

// Header text feature
.call-out {
  @extend %padding-regular;
  display: inline-block;
  width: 100%;
  background-color: $header-desc-background-color;
  background-size: cover;
  font-size: 1.2em;
  text-align: center;
  color: $header-desc-text-color;
}
.call-out p:last-child {
  margin-bottom: 0;
}
.call-out a {
  color: $header-desc-link-color;
}
// Project listing
.projects,
.posts {
  display: flex;
  flex-direction: column;
  gap: 24px;
  padding: 0 $padding-small;
  &__teaser {
    width: 100%;
    background-color: $foreground-color-2;
    position: relative;
  }
  &__img {
    object-fit: cover;
    object-position: center;
    aspect-ratio: 1/1;
    z-index: 1;
    display: inline-block;
  }
  &__text {
    z-index: 1;
    width: 100%;
    padding: $padding-small;
    background-color: $foreground-color;
    opacity: 0.95;
    p a {
      @extend .body-link;
    }
    .excerpt {
      margin-top: $padding-x-small;
      max-width: 26rem;
    }
    * {
      width: fit-content;
      margin: 0;
    }
  }
}

.projects {
  &__teaser {
    grid-area: none;
    margin-bottom: 0;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    background-size: $feature-image-size;
    overflow: hidden;
  }
}

// Post Listing
.posts {
  justify-content: center;
}

// Pagination
.pagination .button {
  margin: 0 1.5em;
  i {
    vertical-align: middle;
  }
}
.pagination {
  padding: $padding-small $padding-large 0 $padding-large;
  text-align: center;
  @media (max-width: 600px) {
    padding: $padding-small;
  }
}

// Hero
.hero {
  height: 90vh;
  width: 100%;
  display: grid;
  place-items: center;

  position: relative;

  &__title {
    z-index: 2;
    font-size: 3rem;
    color: $background-color;
    font-weight: 200;
    padding: 0 $padding-small;

    &-name {
      color: $background-color;
      text-decoration: underline;
      text-underline-offset: 6px;
    }
  }

  canvas {
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    z-index: 1;
  }
}

// Section
.section {
  &__title {
    padding: $padding-x-small $padding-small;
  }
}

@media screen and (min-width: $desktop) {
  // Projects Sorting
  $projects: a, b, c, d, e, f, g;
  @for $i from 1 through 7 {
    .projects__teaser[data-pos="#{$i}"] {
      grid-area: nth($projects, $i);
    }
  }

  .projects,
  .posts {
    &__teaser {
      padding: $padding-large $padding-small 0 0;
    }
    &__text {
      width: fit-content;
      padding: $padding-small $padding-small $padding-medium $padding-small;
    }
    &__img {
      position: absolute;
      width: 100%;
      height: 150%;
      left: 0;
      bottom: -25%;
    }
  }

  .projects {
    display: grid;
    grid-template-areas:
      "a a b"
      "c d d"
      "e d d"
      "f f g";
    grid-template-columns: repeat(3, 1fr);

    &__teaser {
      min-height: 35vh;
    }
  }

  .posts {
    &__teaser {
      padding: 0;
    }

    &__text {
      min-width: 30%;
    }
  }

  .hero {
    &__title {
      padding: none;
      font-size: 5rem;
      width: 80%;
    }
  }
}
