.post-content > :last-child {
  margin-bottom: 0;
}
article {
  .subtitle {
    font-size: 1.45em;
    font-weight: normal;
    margin: 0;
  }
  a {
    @extend .body-link;
  }
  .footnotes {
    font-size: 0.9em;
  }
}
.post {
  header {
    margin: $padding-medium 0;
  }
}

.post__hero {
  width: 90%;
  margin: $padding-small auto 0;
}

.post__title {
  font-size: $font-xxl;
  margin: $padding-small 0 0;

  &-centered {
    font-size: $font-xxl;
    margin: $padding-small 0 0;
    text-align: center;
  }
}

.meta {
  color: rgba($text-color, 0.5);
  font-size: 0.9em;
  letter-spacing: 0.1em;
  margin: 0;
  text-transform: uppercase;
}
.feature-image {
  display: block;
  aspect-ratio: 1/1;
  object-fit: cover;
}

.post-content {
  width: 90%;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: $padding-medium;
  margin-bottom: $padding-medium;
}

@media screen and (min-width: $desktop) {
  .feature-image {
    aspect-ratio: 16/8;
  }

  .post-content {
    p {
      width: 65%;
    }
  }
}
