---
layout: default
---

<div class="home">
  <section class="hero" >
    <canvas width="32" height="32" id="gradient"></canvas>
    <h1 class="hero__title" >
      <a class="hero__title-name" href="{{"/about" | absolute_url}}">Rodrigo Julião</a> is a Digital Product Designer based in Lisbon.
    </h1>
  </section>
  <h1 class="section__title" >Selected Works</h1>
  <section class="projects" >
    {% for project in site.projects reversed %}
    <div class="projects__teaser" data-pos="{{forloop.index}}">
      {% if project.feature-img %}
      <img class="projects__img" src="{{project.feature-img}}"  />
      {% endif %}
      <div class="projects__text">
        <header>
          <h1>
            <a class="post-link" href="{{ project.url | relative_url }}"> {{ project.title }} </a>
          </h1>
          <p class="meta">{{ project.date | date: "%B %-d, %Y" }}</p>
        </header>
        <div class="excerpt">{{ project.excerpt }}</div>
      </div>
    </div>
    {% endfor %}
  </section>
  <h1 class="section__title">Recent Posts</h1>
  <section class="posts" >
    {% for post in site.posts %}
    <div class="posts__teaser">
      <div class="posts__text">
        <header>
          <h1>
            <a class="post-link" href="{{ post.url | relative_url }}"> {{ post.title }} </a>
          </h1>
          <p class="meta">{{ post.date | date: "%B %-d, %Y" }}</p>
        </header>
        <div class="excerpt">{{ post.excerpt }}</div>
      </div>
    </div>
    {% endfor %}
  </section>
</div>
