---
layout: default
---

<div class="home">
  <section class="hero" data-scroll-section>
    <canvas width="32" height="32" id="gradient"></canvas>
    <h1 class="hero__title" data-scroll data-scroll-speed="3">
      <span>Rodrigo Julião</span> is a Digital Product Designer based in Lisbon.
    </h1>
  </section>
  <h1 class="section__title" data-scroll-section>Selected Works</h1>
  <section class="projects" data-scroll-section>
    {% for project in site.projects %}
    <div class="projects__teaser" data-pos="{{forloop.index}}">
      {% if project.feature-img %}
      <img class="projects__img" src="{{project.feature-img}}" data-scroll data-scroll-speed="1.5" />
      {% endif %}
      <div class="projects__text">
        <header>
          <h1>
            <a class="post-link" href="{{ project.url | relative_url }}"> {{ project.title }} </a>
          </h1>
          <p class="meta">{{ project.date | date: "%B %-d, %Y" }}</p>
        </header>
        <div class="excerpt">{{ project.excerpt }}</div>
      </div>
    </div>
    {% endfor %}
  </section>
  <h1 class="section__title" data-scroll-section>Recent Posts <a href="{{"/blog.html" | relative_url}}">See All Posts</a></h1>
  <section class="posts" data-scroll-section>
    {% for post in site.posts %}
    <div class="posts__teaser">
      <div class="posts__text">
        <header>
          <h1>
            <a class="post-link" href="{{ post.url | relative_url }}"> {{ post.title }} </a>
          </h1>
          <p class="meta">{{ post.date | date: "%B %-d, %Y" }}</p>
        </header>
        <div class="excerpt">{{ post.excerpt }}</div>
      </div>
    </div>
    {% endfor %}
  </section>
</div>
